acme==0.28.0
asn1crypto==0.24.0
certbot==0.28.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.4.1
future==0.17.1
idna==2.7
josepy==1.1.0
mock==2.0.0
parsedatetime==2.4
pbr==5.1.1
pycparser==2.19
pyOpenSSL==18.0.0
pyRFC3339==1.1
pytz==2018.7
requests==2.20.1
requests-toolbelt==0.8.0
six==1.11.0
urllib3==1.24.1
zope.component==4.5
zope.deferredimport==4.3
zope.deprecation==4.3.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.proxy==4.3.1
