acme==1.22.0
certbot==1.22.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
ConfigArgParse==1.7.5
configobj==5.0.9
cryptography==36.0.2
distro==1.9.0
idna==3.13
josepy==1.15.0
parsedatetime==2.6
pycparser==3.0
pyOpenSSL==21.0.0
pyRFC3339==2.1.0
pytz==2026.2
requests==2.33.1
requests-toolbelt==1.0.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.3
zope.component==7.1
zope.event==6.2
zope.hookable==8.2
zope.interface==8.4
