name: Daily builds

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    environment: launchpad
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # Fetch all history so we can push
          fetch-depth: 0

      - name: Setup git
        run: |
          git config user.name "CI Bot"
          git config user.email "nextcloud-snappy-bot@git.launchpad.net"
          git remote add deploy git+ssh://nextcloud-snappy-bot@git.launchpad.net/nextcloud-snap

      - name: Setup SSH
        uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Setup launchpad keys
        run: echo "${{ vars.LAUNCHPAD_SSH_PUBLIC_KEYS }}" > ~/.ssh/known_hosts

      - name: Spawn builds
        run: ./.github/spawn-dailies.sh
