name: Deploy to Launchpad

on:
  push:
    # Only applies to our protected branches and tags
    branches:
      - master
      - develop
      - '[0-9]+'
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: launchpad
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          # Fetch all history so we can push
          fetch-depth: 0

      - name: Fetch tags with annotations
        run: git fetch --tags --force origin # WA: https://github.com/actions/checkout/issues/882

      - name: Setup git
        run: |
          git config user.name "CI Bot"
          git config user.email "nextcloud-snappy-bot@git.launchpad.net"
          git remote add deploy git+ssh://nextcloud-snappy-bot@git.launchpad.net/nextcloud-snap

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Setup launchpad keys
        run: echo "${{ vars.LAUNCHPAD_SSH_PUBLIC_KEYS }}" > ~/.ssh/known_hosts

      - name: Push code to Launchpad
        run: git push deploy "$GITHUB_REF_NAME"
