name: Run tests against changes

on: [push, pull_request]

jobs:
  static:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get update -qq && sudo apt-get install -qq shellcheck

      - name: Run tests
        run: ./tests/run-tests.sh static

  unit:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get update -qq && sudo apt-get install -qq curl git

      - name: Run tests
        run: ./tests/run-tests.sh unit

  integration:
    runs-on: ubuntu-18.04

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get update -qq && sudo apt-get remove -qq lxd lxd-client && sudo snap install lxd && sudo lxd init --auto && sudo snap install --classic snapcraft

      # Using sudo here because our CI user isn't a member of the lxd group
      - name: Build snap
        run: sudo snapcraft --provider lxd

      - name: Review snap
        run: sudo snap install review-tools && /snap/bin/review-tools.snap-review *.snap

      - name: Install the snap
        run: sudo snap install *.snap --dangerous

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          working-directory: tests
          bundler-cache: true

      - name: Run integration tests
        working-directory: tests
        run: bundle exec ./run-tests.sh integration
