name: Test daily builds

on:
  schedule:
  - cron: "0 5 * * *"

jobs:
  test-daily-master:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install nextcloud
        run: sudo snap install --edge nextcloud

      - name: Setup ruby
        uses: ruby/setup-ruby@eaecf785f6a34567a6d97f686bbb7bccc1ac1e5c # v1.237.0
        with:
          working-directory: tests
          bundler-cache: true

      - name: Run tests
        working-directory: tests
        run: bundle exec ./run-tests.sh integration

  test-daily-v29:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install nextcloud
        run: sudo snap install nextcloud --channel=29/edge

      - name: Setup ruby
        uses: ruby/setup-ruby@eaecf785f6a34567a6d97f686bbb7bccc1ac1e5c # v1.237.0
        with:
          working-directory: tests
          bundler-cache: true

      - name: Run tests
        working-directory: tests
        run: bundle exec ./run-tests.sh integration
