name: Test daily builds

on:
  schedule:
  - cron: "0 5 * * *"

jobs:
  test-daily-master:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install nextcloud
        run: sudo snap install --edge nextcloud

      - name: Setup ruby
        uses: ruby/setup-ruby@cf7216d52fba1017929b4d7162fabe2b30af5b49 # v1.262.0
        with:
          working-directory: tests
          bundler-cache: true

      - name: Run tests
        working-directory: tests
        run: bundle exec ./run-tests.sh integration

  test-daily-v30:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install nextcloud
        run: sudo snap install nextcloud --channel=29/edge

      - name: Setup ruby
        uses: ruby/setup-ruby@cf7216d52fba1017929b4d7162fabe2b30af5b49 # v1.262.0
        with:
          working-directory: tests
          bundler-cache: true

      - name: Run tests
        working-directory: tests
        run: bundle exec ./run-tests.sh integration
